## in order to use pyenv as the controller of virtualenv management,
## assuming you have direnv installed, layout_uv_pyenv can
## be added to your ~/.config/direnv/direnvrc and should look like this:
#
# layout_uv_pyenv() {
#   if [ -e ".python-version" ]; then
#     VENV=$(cat .python-version)
#     VENV_PATH="$PYENV_ROOT/versions/$VENV"
#     export UV_PYTHON="$VENV_PATH/bin/python"
#     export UV_PROJECT_ENVIRONMENT=$VENV_PATH
#     export UV_ACTIVE=1
#   fi
# }

layout_uv_pyenv
watch_file .python-version
